<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Fonts start -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Pacifico&display=swap"
    rel="stylesheet">
  <!-- Fonts end -->

  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/colors.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createEvent.css" type="text/css" />
  <link rel="stylesheet" href="/styles/eventDetails.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/jquery-ui.js"></script>
  <link rel="stylesheet" href="/vendor/jquery-ui.css" type="text/css" />

  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/render-events.js"></script>
  <script type="text/javascript" src="/scripts/show-hide-container.js"></script>
  <script type="text/javascript" src="/scripts/add-timings.js"></script>
</head>

<body class="bg-light">
  <header class="main-header">
    <div class="container header-container">
      <span class="logo">Schoodle</span>
      <a href="javascript:void(0);" role="button" class="btn btn-outline-light" id="toggle-create-event-container">Create New Event</a>
    </div>
  </header>

  <div class="container create-event-container my-4 col-lg-6 col-md-8 col-sm-10">
    <h1 class="form-title">Create Event</h1>
    <form id="create-event-form">
      <div class="form-group">
        <input type="text" class="form-control" name="event_title" placeholder="Event Title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="event_desc" placeholder="Event Description">
      </div>
      <div class="form-group mt-4">
        <input type="text" class="form-control" name="organizer_name" placeholder="Organizer Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="organizer_email" placeholder="Organizer Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="event_venue" placeholder="Venue">
      </div>

      <div class="timings_container my-3"></div>
      <small class="timings_error text-danger d-block my-3"></small>
      <button type="button" class="btn btn-outline-info btn-sm" id="add_timings"  name="add_timings">Add Timings</button>
      <button type="button" class="btn btn-outline-danger btn-sm ml-2" id="remove_timings"  name="remove_timings" hidden="true">Remove Timing</button>

      <div class="form-check  mt-4">
        <input class="form-check-input" type="checkbox" value="true" id="event_link_for_self" name="event_link_for_self" checked>
        <label class="form-check-label" for="event_link_for_self">
          Send event link to my email
        </label>
      </div>

      <div class="form-group text-center  mt-4">
        <button type="submit" class="btn btn-outline-success btn-lg" id="create_event" name="create_event">Create Event</button>
      </div>

    </form>
  </div>


  <div class="container event-details-container my-4 col-lg-6 col-md-8 col-sm-10">
    <div class="unique-link-container">
      <h3>Invite Participants</h3>
      <div class="copy-link-container mt-3">
        <span class="lbl-unique-link"></span>
        <button class="btn btn-success btn-clipboard"><i class="far fa-copy"></i></button>
      </div>
      <span class="text-success mt-3 link-copied">Link copied!</span>
      <span class="mt-3 lbl-organizer"></span>
      <span class="mt-3 lbl-venue"></span>
      <span class="mt-3 lbl-event-desc"></span>
    </div>

    <div class="responses-container mt-5">
      <div class="responses-table"></div>
    </div>
  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
