@import 'colors';
.unique-link-container {
  border: solid 1px $color-gray-dark;
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;

  h3 {
    color: $color-primary;
    font-size: 24px;
    font-weight: 600;
  }

  .copy-link-container {
    padding: 0 50px;
    display: flex;

    span {
      padding: 5px 10px;
      border: solid 1px $color-gray-dark;

      &:hover {
        border-color: $color-black;
      }
    }

    .lbl-unique-link {
      flex: 1;
    }
  }
}
