$color-primary: #2a9d8f;
$color-secondary: #f4a261;
$color-white: #fff;
$color-gray-light: #e9ecef;
$color-gray-dark: #adb5bd;

.main-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: $color-primary;
  color: $color-white;

  a {
    text-decoration: none;
    color: $color-white;
  }
}

.form-container {
  margin: 20px 200px;
  background-color: $color-gray-light;
  padding: 10px;
  border-radius: 10px;

  .form-title {
    text-align: center;
    color: $color-primary;
  }

  form {
    padding: 10px 100px;

    input[type=text] {
      border: 0;
      margin-top: 20px;
      background-color: transparent;
      resize: none;
      outline: none;
      border-bottom: 1px solid black;
    }

    #add_timings {
      margin: 20px 0;
      background-color: $color-secondary;
      color: $color-white;
    }

    #create_event {
      margin: 20px 0;
      background-color: $color-primary;
      color: $color-white;
    }
  }
}
