$primary-color: #2a9d8f;
$secondary-color: #f4a261;
$color-white: #fff;

.main-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: $primary-color;
  color: $color-white;

  a {
    text-decoration: none;
    color: $color-white;
  }
}
