/* colors */
$color-primary: #2a9d8f;
$color-secondary: #f4a261;
$color-white: #fff;
$color-black: #000;
$color-gray-light: #e9ecef;
$color-gray-dark: #adb5bd;

body {
  font-family: 'Cairo', sans-serif;
}

.main-header {
  background-color: $color-primary;
  color: $color-white;
}
.header-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 200px; */

  .logo {
    font-size: 32px;
    font-family: 'Pacifico', cursive;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }
}

.create-event-container {
  border: solid 1px $color-gray-dark;
  padding: 20px 10px;
  border-radius: 10px;

  .form-title {
    text-align: center;
    color: $color-primary;
    font-weight: 600;
  }

  form {
    padding: 0 100px;

    input[type=text] {
      border: 0;
      border-radius: 0;
      margin-top: 20px;
      background-color: transparent;
      resize: none;
      outline: none;
      border-bottom: 1px solid $color-gray-dark;
    }

    .timings_container {

      .time-slot {
        display: flex;
        gap: 10px;

        > * {
          flex: 1;
        }
      }
    }
  }
}
